/* Clark Shaeffer - Portfolio Website: CSS styles page*/

/* Color pallete from Colourlovers: "On Misty Mountainby VelvetWow" 
    284346 - gray
    27453e - green-gray
    1d3821 - green
    3c3302 - brown
    
    Personal colors:
    */



/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear Class */
.clear {
    clear: both;
}

   

body {
    font-family: 'Libre Franklin', sans-serif; 
    margin: 0;
}

#container {
    width: 100%;
    margin: 0 auto 0 auto;
}

#header {
    line-height: 100%;
    background-color: #284346;
    /* padding: 10px; */
    color: white;
    /* padding: 20px; */
    /* line-height: 2em; */
    /* position: absolute; */
    /* padding-right: 30%; */
    
}
#projects {
    padding: 30px;
    padding-right: 60px;
    /* background-color: #16463b; */
    background-color: #284346;
    position: absolute;
    color: #dadada;
    top: 20%;
    left: 20%;
    right: 20%;
    border-radius: 10px;

}

#about {
    /* background-color: #3c3302; */
    background-color: #284346;
    padding: 30px;
    color: #dadada;
}

#game {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#back {
    position: absolute;
    background-color: #284346;
    top: 0%;
    left: 0%;
    padding-right: 94%;
}
#list {
    position: absolute;
    background-color: #284346;
    color: white;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    /* padding-top: 10px; */
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#done {
    position: absolute;
    background-color: #1a2c2e;
    color: white;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    /* padding-top: 10px; */
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
h1 {
    /* font-size: 32px; */
    font-size: 45px;
    /* text-align: left; */
    /* text-align: center; */
    padding: 10px;
}

h2 {
    font-size: 30px;
    /* text-align: right; */
    /* text-align: center; */
    
}

h3 {
    padding-left: 40px;
    /* font-size: 40px; */
}

img {
    vertical-align: middle;
}

a {
	color: #75c1f6;
	text-decoration: none;
}

ul li {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* No bullet-points */
    list-style-type: none;
}
.checked {
    opacity: 0.5;
    background-color: gray;
}

/* Zebra odd-element background */
/* ul li:nth-child(odd) {
    background: #f9f9f9;
  } */